body{
  margin: 0;
  padding: 0;
  background-color: #444;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

.calc{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 400px;
  background-color: #000;
  border-radius: 20px;
}

.calc__window{
  margin: 10px auto 0;
  background-color: rebeccapurple;
  height: 140px;
  width: 380px;
  border-radius: 10px;
}

.calc__window-symbol{
  font-size: 80px;
  line-height: 140px;
  text-align: right;
  color: #fff;
  margin: 0 10px;
  overflow: hidden;
}

.calc__buttons{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.calc__buttons-line{
  display: flex;
  flex-direction: row;
  color: #fff;
}

.calc__buttons-item{
  width: 94px;
  height: 85px;
  background-color: #272727;
  text-align: center;
  line-height: 85px;
  margin: 0 1px 1px 0;
  position: relative;
  cursor: pointer;
}

.calc__buttons-corner{
  position: relative;
}

.calc__buttons-item:hover{
  background-color: #333;
  transition: all .6s;
}

.calc__buttons-item-icon{
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calc__buttons-item--left-top{
  border-radius: 10px 0 0 0;
  font-family: 'Lato', sans-serif;
}

.calc__buttons-item--right-top{
  border-radius: 0 10px 0 0;
}

.calc__buttons-item--right-bottom{
  border-radius: 0 0 10px 0;
}

.calc__buttons-item--left-bottom{
  border-radius: 0 0 0 10px;
}