body{
  margin: 0;
  padding: 0;
  background-color: #000;
  font-size: 30px;
}

.calc{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 400px;
  background-color: #c0c0c0;
  border-radius: 20px;
}

.calc__window{
  margin: 10px auto 0;
  background-color: rebeccapurple;
  height: 140px;
  width: 380px;
  border-radius: 10px;
}

.calc__buttons{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.calc__buttons-line{
  display: flex;
  flex-direction: row;
  color: #fff;
}

.calc__buttons-item{
  width: 100px;
  height: 85px;
  background-color: #272727;
  text-align: center;
  line-height: 85px;
  margin: 0 1px 1px 0;
}

.calc__buttons-item--left-top{
  border-radius: 10px 0 0 0;
}

.calc__buttons-item--right-top{
  border-radius: 0 10px 0 0;
}

.calc__buttons-item--right-bottom{
  border-radius: 0 0 10px 0;
}

.calc__buttons-item--left-bottom{
  border-radius: 0 0 0 10px;
}

